{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cioc.css' %}">
</head>


<body>
<div class="header">
    <h1>Image Gallery</h1>
</div>

<div class="row">
  <div class="col-container">
    <div class="col-6">
        <img src="1.jpg" alt="nature">
        <img src="2.jpg" alt="nature">
        <img src="3.jpg" alt="nature">
        <img src="4.jpg" alt="nature">
        <img src="5.jpg" alt="nature">
    </div>

    <div class="col-6">
        <img src="6.jpeg" alt="nature">
        <img src="7.jpg" alt="nature">
        <img src="8.jpeg" alt="nature">
        <img src="9.jpg" alt="nature">
        <img src="10.jpg" alt="nature">
    </div>
  </div>
</div>

<div class="footer">
</div>
</body>
</html>